Repository yaakovLowenstein/hx-requests: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, djlint

black:
  name: black
  entry: black
  language: system

djlint:
  name: djlint
  entry: djlint --profile=django --quiet --reformat
  language: system

docs: Update to docs to reflect new custom modal
  docs/guide/config.rst
  docs/guide/modals.rst
Due: none

fix: Fix type
  hx_requests/hx_requests.py
Due: black

0.13.0
  CHANGELOG.md
  hx_requests/__init__.py
  pyproject.toml
Due: black

fix: Fix bug in modal due to no body selector
  docs/guide/modals.rst
  hx_requests/templates/hx_requests/modal.html
Due: djlint

0.13.1
  CHANGELOG.md
  hx_requests/__init__.py
  pyproject.toml
Due: black

fix: Fix typo in setting name
  docs/guide/config.rst
  docs/guide/modals.rst
  hx_requests/hx_requests.py
Due: black

docs: Fix wrong path to modal
  docs/guide/config.rst
Due: none

0.13.2
  CHANGELOG.md
  hx_requests/__init__.py
  pyproject.toml
Due: black

build: Add django-render-block as a dependency
  poetry.lock
  pyproject.toml
Due: none

feat: Using django-render-block give the option to just return a block
  hx_requests/hx_requests.py
Due: black

docs: Add docs about rendering a block
  docs/guide/quickstart.rst
Due: none

docs: Fix typos
  docs/guide/messages.rst
  hx_requests/views.py
Due: black

docs: Remove contributing from read the docs
  docs/index.rst
Due: none

0.14.0
  CHANGELOG.md
  hx_requests/__init__.py
  pyproject.toml
Due: black

docs: Documentation edits
  docs/guide/blocks.rst
  docs/guide/config.rst
  docs/guide/delete.rst
  docs/guide/faqs.rst
  docs/guide/forms.rst
  docs/guide/hx_tags.rst
  docs/guide/messages.rst
  docs/guide/modals.rst
  docs/guide/quickstart.rst
  docs/index.rst
Due: none

fix: Remove stale code
  hx_requests/hx_requests.py
Due: black

0.14.1
  CHANGELOG.md
  hx_requests/__init__.py
  pyproject.toml
Due: black

fix: Group docs dependencies separately
  .readthedocs.yml
  pyproject.toml
Due: none

0.14.2
  CHANGELOG.md
  hx_requests/__init__.py
  pyproject.toml
Due: black

fix: Fix bug when no csrftoken
  hx_requests/utils.py
Due: black

0.14.3
  CHANGELOG.md
  hx_requests/__init__.py
  pyproject.toml
Due: black

feat: Add new attributes to FormHxRequest and FormModal
  hx_requests/hx_requests.py
Due: black

fix: Version bump commit
  docs/guide/blocks.rst
Due: none

feat: Fix semantic release by pinning version
  .github/workflows/publish_package.yml
Due: none

0.15.0
  CHANGELOG.md
  hx_requests/__init__.py
  pyproject.toml
Due: black

Path conditions:
  black: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
