Repository yaakovLowenstein/hx-requests: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, djlint

black:
  name: black
  entry: black
  language: system

djlint:
  name: djlint
  entry: djlint --profile=django --quiet --reformat
  language: system

fix: Rename templates folder to hx_requests
  hx_requests/templates/hx_requests/messages.html
Due: djlint

feat: Add HXRequestModal
  hx_requests/hx_requests.py
  hx_requests/templates/hx_requests/modal.html
Due: black, djlint

0.2.0
  CHANGELOG.md
  hx_requests/__init__.py
  pyproject.toml
Due: black

fix: Fix bug in modal template
  hx_requests/templates/hx_requests/modal.html
Due: djlint

0.2.1
  CHANGELOG.md
  hx_requests/__init__.py
  pyproject.toml
Due: black

fix: Remove check from views if the app is this package
  hx_requests/views.py
Due: black

0.2.2
  CHANGELOG.md
  hx_requests/__init__.py
  pyproject.toml
Due: black

fix: Bold the top line of the error message
  hx_requests/hx_requests.py
Due: black

0.2.3
  CHANGELOG.md
  hx_requests/__init__.py
  pyproject.toml
Due: black

feat: Add option HXRequestPOST to return empty
  hx_requests/hx_requests.py
Due: black

0.3.0
  CHANGELOG.md
  hx_requests/__init__.py
  pyproject.toml
Due: black

fix: Rename seting for hx_messages
  hx_requests/hx_messages.py
Due: black

feat: Use HXMessages in HXRequests
  hx_requests/hx_requests.py
Due: black

fix: Rename setting for using messages
  hx_requests/hx_requests.py
Due: black

feat: Add hx_messages
  hx_requests/hx_messages.py
Due: black

0.4.0
  CHANGELOG.md
  hx_requests/__init__.py
  pyproject.toml
Due: black

fix: Fix bug in hx_messages
  hx_requests/hx_messages.py
  hx_requests/hx_requests.py
Due: black

0.4.1
  CHANGELOG.md
  hx_requests/__init__.py
  pyproject.toml
Due: black

fix: 🐛 in trying to use dynamic functions for types of messages
  hx_requests/hx_messages.py
Due: black

0.4.2
  CHANGELOG.md
  hx_requests/__init__.py
  pyproject.toml
Due: black

fix: Fix bug in init of HXMessages
  hx_requests/hx_messages.py
Due: black

0.4.3
  CHANGELOG.md
  hx_requests/__init__.py
  pyproject.toml
Due: black

fix: Fix bug in hx_requests that not checking self.show_messages
  hx_requests/hx_requests.py
Due: black

fix: Add to error message for not having message_tags defined
  hx_requests/hx_messages.py
Due: black

fix: Fix bug in messages.html was appening alert twice
  hx_requests/templates/hx_requests/messages.html
Due: djlint

0.4.4
  CHANGELOG.md
  hx_requests/__init__.py
  pyproject.toml
Due: black

fix: Fix show_messages bool not being used when form is invalid
  hx_requests/hx_requests.py
Due: black

0.4.5
  CHANGELOG.md
  hx_requests/__init__.py
  pyproject.toml
Due: black

fix: Remove nested hx messages settings
  hx_requests/hx_messages.py
Due: black

fix: Change level to tag in hx messages
  hx_requests/hx_requests.py
  hx_requests/templates/hx_requests/messages.html
Due: black, djlint

fix: Move js vars in messages so that they are not global
  hx_requests/templates/hx_requests/messages.html
Due: djlint

0.4.6
  CHANGELOG.md
  hx_requests/__init__.py
  pyproject.toml
Due: black

feat: Add new messages template for alerts
  hx_requests/templates/hx_requests/messages_alerts.html
Due: djlint

0.5.0
  CHANGELOG.md
  hx_requests/__init__.py
  pyproject.toml
Due: black

fix: Fix ternary in messages_alerts js
  hx_requests/templates/hx_requests/messages_alerts.html
Due: djlint

fix: Fix 🐛 in messages_alerts js
  hx_requests/hx_messages.py
Due: black

0.5.1
  CHANGELOG.md
  hx_requests/__init__.py
  pyproject.toml
Due: black

fix: Remove extra '?'
  hx_requests/templates/hx_requests/messages_alerts.html
Due: djlint

0.5.2
  CHANGELOG.md
  hx_requests/__init__.py
  pyproject.toml
Due: black

fix: Fix bug in js
  hx_requests/templates/hx_requests/messages_alerts.html
Due: djlint

Path conditions:
  black: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
