Repository yaakovLowenstein/hx-requests: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, djlint

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
        name: isort (python)
        args: ["--profile", "black"]
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black
        language: system
        types: [python]

    -   id: djlint
        name: djlint
        entry: djlint --profile=django --quiet --reformat
        language: system
        types: [html]


-   repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]

0.5.3
  CHANGELOG.md
  hx_requests/__init__.py
  pyproject.toml
Due: black

feat: Change the way messages are handled
  hx_requests/hx_requests.py
  hx_requests/templates/hx_requests/messages.html
  hx_requests/templates/hx_requests/messages_alerts.html
Due: black, djlint

0.6.0
  CHANGELOG.md
  hx_requests/__init__.py
  pyproject.toml
Due: black

fix: Fix bugs in modal
  hx_requests/hx_requests.py
Due: black

fix: Refactor close modal js
  hx_requests/templates/hx_requests/modal.html
Due: djlint

0.6.1
  CHANGELOG.md
  hx_requests/__init__.py
  pyproject.toml
Due: black

fix: Add default for modal body selector
  hx_requests/hx_requests.py
Due: black

0.6.2
  CHANGELOG.md
  hx_requests/__init__.py
  pyproject.toml
Due: black

feat: Add ability to not do a swap in Post request
  hx_requests/hx_requests.py
Due: black

0.7.0
  CHANGELOG.md
  hx_requests/__init__.py
  pyproject.toml
Due: black

fix: Fix 🐛 that was not usign modal wrapper id in close modal js
  hx_requests/templates/hx_requests/modal.html
Due: djlint

fix: Updates to modal
  hx_requests/hx_requests.py
  hx_requests/templates/hx_requests/modal.html
Due: black, djlint

0.7.1
  CHANGELOG.md
  hx_requests/__init__.py
  pyproject.toml
Due: black

fix: Fix issue with no_swap when form is invalid
  hx_requests/hx_requests.py
Due: black

0.7.2
  CHANGELOG.md
  hx_requests/__init__.py
  pyproject.toml
Due: black

feat: Add better exception message for not finding an hx_request
  hx_requests/views.py
Due: black

0.8.0
  CHANGELOG.md
  hx_requests/__init__.py
  pyproject.toml
Due: black

feat: Clean up code in views
  hx_requests/views.py
Due: black

0.9.0
  CHANGELOG.md
  hx_requests/__init__.py
  pyproject.toml
Due: black

build: Add sphinx
  poetry.lock
  pyproject.toml
Due: none

docs: Run sphinx quickstart to start off documentation
  docs/Makefile
  docs/conf.py
  docs/index.rst
  docs/make.bat
Due: black

chore: Add sphinx-rtd-theme
  poetry.lock
  pyproject.toml
Due: none

docs: Change theme to sphinx_rtd_theme
  docs/conf.py
Due: black

docs: Add docs on installation
  docs/index.rst
  docs/installation.rst
Due: none

docs: Outline the docs
  docs/guide/hx_requests.rst
  docs/guide/installation.rst
  docs/guide/messages.rst
  docs/guide/startup_guide.rst
  docs/index.rst
  docs/reference/DeleteHXRequest.rst
  docs/reference/FormHXRequest.rst
  docs/reference/HXFormModal.rst
  docs/reference/HXModal.rst
  docs/reference/HXRequestGET.rst
  docs/reference/HXRequestPOST.rst
Due: none

docs: Write up quickstart docs
  docs/conf.py
  docs/guide/forms.rst
  docs/guide/hx_requests.rst
  docs/guide/hx_tags.rst
  docs/guide/installation.rst
  docs/guide/quickstart.rst
  docs/guide/startup_guide.rst
  docs/index.rst
Due: black

docs: Start on forms documentation
  docs/guide/forms.rst
Due: none

docs: Finish up Using Forms and add stub for settings
  docs/guide/forms.rst
  docs/guide/quickstart.rst
  docs/index.rst
  docs/reference/settings.rst
Due: none

docs: Add docs on deleting
  docs/guide/delete.rst
  docs/guide/hx_requests.rst
  docs/guide/hx_tags.rst
  docs/guide/modals.rst
  docs/guide/quickstart.rst
  docs/index.rst
Due: none

docs: Finish up modal docs
  docs/guide/forms.rst
  docs/guide/modals.rst
  docs/guide/quickstart.rst
  docs/guide/tips_and_tricks.rst
  docs/index.rst
  docs/other/contributing.rst
  hx_requests/hx_requests.py
Due: black

docs: Update README
  README.md
Due: none

docs: Fix up README
  README.md
Due: none

docs: Add section on messages
  README.md
  docs/guide/messages.rst
Due: none

docs: Add section on hx tags
  docs/guide/hx_tags.rst
Due: none

feat: Merge HXRequestsGET and HXRequestPOST into one base class
  hx_requests/hx_requests.py
Due: black

docs: Update docs for merging of get and post into one base class
  docs/conf.py
  docs/guide/quickstart.rst
  docs/index.rst
  docs/reference/BaseHXRequest.rst
  docs/reference/HXRequestGET.rst
  docs/reference/HXRequestPOST.rst
  hx_requests/hx_requests.py
Due: black

fix: Move resfresh object into get_post_context_data
  hx_requests/hx_requests.py
Due: black
