Repository yaakovLowenstein/hx-requests: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, djlint

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
        name: isort (python)
        args: ["--profile", "black"]
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: black
        language: system
        types: [python]

    -   id: djlint
        name: djlint
        entry: djlint --profile=django --quiet --reformat
        language: system
        types: [html]


-   repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]

docs: Edit yaml
  .readthedocs.yml
Due: none

docs: try some more
  .readthedocs.yml
Due: none

docs: Fix yaml
  .readthedocs.yml
Due: none

Docs (#6)
  docs/guide/config.rst
Due: none

docs: more
  docs/index.rst
Due: none

docs: test again for autodoc
  .readthedocs.yml
Due: none

docs: Override module template for autodocapi
  docs/index.rst
Due: none

docs: Add tips_and_tricks
  docs/guide/tips_and_tricks.rst
Due: none

docs: More
  .readthedocs.yml
Due: none

Docs (#7)
  docs/guide/tips_and_tricks.rst
Due: none

docs: Update docs to reflect changes to hx-messages
  docs/guide/config.rst
  docs/guide/messages.rst
Due: none

feat: Refactor the way messages work
  hx_requests/hx_messages.py
  hx_requests/hx_requests.py
Due: black

Docs (#8)
  docs/guide/config.rst
  docs/guide/messages.rst
  hx_requests/hx_messages.py
  hx_requests/hx_requests.py
Due: black

0.11.0
  CHANGELOG.md
  hx_requests/__init__.py
  pyproject.toml
Due: black

fix: Fix bug that wasn't urlencoding the kwargs
  hx_requests/utils.py
Due: black

0.11.1
  CHANGELOG.md
  hx_requests/__init__.py
  pyproject.toml
Due: black

fix: Cast kwarg value to string
  hx_requests/utils.py
Due: black

0.11.2
  CHANGELOG.md
  hx_requests/__init__.py
  pyproject.toml
Due: black

feat: Add hx_get and hx_post templatetags
  docs/guide/delete.rst
  docs/guide/forms.rst
  docs/guide/hx_tags.rst
  docs/guide/modals.rst
  docs/guide/quickstart.rst
  hx_requests/hx_requests.py
  hx_requests/templatetags/hx_tags.py
Due: black

fix: When passing in body to modal via template tag use mark_safe
  hx_requests/hx_requests.py
Due: black

docs: Fix references to old methods
  docs/guide/delete.rst
  docs/guide/forms.rst
Due: none

0.12.0
  CHANGELOG.md
  hx_requests/__init__.py
  pyproject.toml
Due: black

docs: Update to docs to reflect new custom modal
  docs/guide/config.rst
  docs/guide/modals.rst
Due: none

feat: Add custom modal template
  hx_requests/static/hx_requests/css/modal.css
  hx_requests/templates/hx_requests/bootstrap_modal.html
  hx_requests/templates/hx_requests/modal.html
Due: djlint

fix: Fix type
  hx_requests/hx_requests.py
Due: black
